<div class="main">
  <mat-form-field>
    <mat-label>Please select a date</mat-label>
    <input matInput [matDatepicker]="picker" (dateInput)="addInput($event)" />
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <button (click)="getFormData()">press</button>

  {{ productService.productList[0]?.node?.name || 'null' }}
  <app-list
    [name]="productService.productList[0]?.node?.name || 'name'"
    [url]="productService.productList[0]?.node?.url || 'url'"
    [description]="productService.productList[0]?.node?.description || 'description'"
    [date]="productService.productList[0]?.node?.featuredAt || 'date'"
    [coverImage]="productService.productList[0]?.node?.media || 'image'"></app-list>
</div>
