h1 {
  align-self: center;
  font-weight: 900;
  color: #3f51b5;
}

.collection-content {
  display: flex;
  justify-content: center;
}

.list-footer {
  display: grid;
  place-items: center;
  margin-top: 10px;
  color: #b2b9e1;
}
