#item-thumbnail {
  width: 200px;
  height: 100px;
  object-fit: cover;
  background-color: lightgrey;
  border-radius: 8px;
}

.item-content {
  display: flex;
  margin-top: 15px;
  margin-bottom: 15px;
  cursor: pointer;
}

@media (max-width: 520px) {
  .item-content {
    flex-wrap: wrap;
  }
}
